<ion-menu slot="start" menuId="main" contentId="content1">
    <ion-header>
      <ion-toolbar>
        <ion-title>My app</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <ion-item [routerLink]="'/movies'">My Movies</ion-item>
          
          <ion-item [routerLink]="'/orders'">My Order</ion-item>

          <ion-item (click)="logOut()">Log out</ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
</ion-menu>